/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    body::-webkit-scrollbar {
        width: 8px
    }
    .col-mob-3 {
        width: 25% !important;
        padding: 0 5px !important;
    }

    .col-mob-3:first-child {
        padding-left: 17px !important;
    }

    .col-mob-3:last-child {
        padding-right: 17px !important;
    }

    .col-mob-4 {
        width: 33.33% !important;
        padding: 0 5px !important;
    }

    .col-mob-6 {
        width: 50% !important;
    }

    .col-mob-6:nth-child(odd) {
        padding-right: 8px;
    }

    .col-mob-6:nth-child(even) {
        padding-left: 8px;
    }

    .col-mob-12 {
        width: 100% !important;
    }

    .decor-1 {
        margin-bottom: 10px;
    }

    .decor-1,
    .decor-1::before,
    .decor-1::after {
        width: 80px;
    }

    .decor-2 {
        width: 10%;
        transform: skew(0deg, 10deg);
        position: absolute;
        right: -1px;
        bottom: 10px;
        opacity: 0.15;
    }

    .decor-2 .blue-decor,
    .decor-2 .red-decor,
    .decor-2 .green-decor {
        height: 20px;
        margin: 5px 0;
    }

    /* ===================================== 
    Header Section Start
    ===================================== */
    /* Top Header */
    .header_section .header_section_inner .top_header .row {
        justify-content: center;
    }

    .header_section .header_section_inner .top_header .row .col-mob-6 {
        width: fit-content !important;
        padding: 0;
    }

    .header_section_inner .top_header .top_header_left ul {
        justify-content: center;
      }

    .header_section_inner .top_header .top_header_left ul li,
    .header_section_inner .top_header .top_header_right ul li {
        padding: 0 12px;
        line-height: 35px;
    }

    .header_section_inner .top_header .top_header_left ul li a svg,
    .header_section_inner .top_header .top_header_right ul li a svg {
        width: 12px;
        height: 12px;
    }

    
    /* Middle Header */
    .header_section_inner .middle_header {
        border-bottom: 1px solid var(--siteColor1);
    }

    .header_section_inner .middle_header .middle_header_inner {
        padding: 12px 0;
    }

    .header_section_inner .middle_header .middle_header_inner .middle_header_middle a {
        width: 75%;
        margin: 0 auto;
    }
    .navbar-toggler {
        padding: 0 !important;
    }
    .header_section_inner .middle_header .middle_header_inner .middle_header_left .navbar-toggler .icon-bar, 
    .header_section_inner .middle_header .middle_header_inner .middle_header_left .navbar-toggler .icon-bar.middle {
        display: block;
        border-radius: 1px;
        background: var(--siteText3);
    }
    .header_section_inner .middle_header .middle_header_inner .middle_header_left .navbar-toggler .icon-bar {
        width: 20px;
        height: 2px;
        background-size: 400% 200%;
    }
    .header_section_inner .middle_header .middle_header_inner .middle_header_left .navbar-toggler .icon-bar+.icon-bar {
        margin-top: 5px;
    }
    .header_section_inner .middle_header .middle_header_inner .middle_header_left .navbar-toggler .icon-bar.middle {
        width: 15px;
        height: 2px;
        margin-right: auto;
        background-size: 400% 200%;
    }

    .header_section_inner .middle_header .middle_header_inner .middle_header_right #main_menu_catalog_pdf a {
        color: var(--siteText3);
    }

    .header_section_inner .middle_header .middle_header_inner .middle_header_right #main_menu_catalog_pdf a svg {
        width: 22px;
        height: 22px;
    }

    .header_section_inner .middle_header .middle_header_inner .middle_header_right .contact_option {
        display: none !important;
    }



    /* Bottom Header */
    .header_section_inner .bottom_header .main-nav {
        padding: 0;
        background: var(--siteBg);
    }
    .header_section_inner .bottom_header .main-nav .container {
        padding: 0;
    }
    .main-menu-btn {
        float: left;
        margin: 20px 0;
    }
    .header_section_inner .bottom_header .main-nav a.nav-brand {
        width: 40%;
    }
    
    .header_section_inner .bottom_header .main-nav ul.sm-parent-1 li {
        border-top: 1px solid var(--siteBorder);
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-1 li:first-child {
        border-top: 1px solid var(--siteColor1);
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-1 li a {
        font-size: 12px;
        color: var(--siteText3);
        padding: 8px 12px;
        font-weight: 500;
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-2,
    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 {
        margin: 0;
        border-bottom: none !important;
        border-top: none !important;
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-2 li, 
    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 li {
        border-bottom: none;
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a,
    .header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:hover {
        border-left: 12px solid transparent !important;
        border-right: 12px solid transparent !important;
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 li a,
    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 li a:hover {
        border-left: 24px solid transparent !important;
        border-right: 24px solid transparent !important;
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-1 li a:hover, 
    .header_section_inner .bottom_header .main-nav ul.sm-parent-1 li a:active, 
    .header_section_inner .bottom_header .main-nav ul.sm-parent-1 li a:focus,
    .header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:hover, 
    .header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:active, 
    .header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:focus
    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 li a:hover, 
    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 li a:active, 
    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 li a:focus {
        background: var(--textBG1);
        background-size: 400% 400%;
        color: var(--siteText2);
        border-radius: 0%;
        border: none;
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-2,
    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 {
        width: 100% !important;
        margin: 0;
        border-bottom: none !important;
        border-top: none !important;
    }

    .header_section_inner .bottom_header .main-nav ul.sm-parent-2 li, 
    .header_section_inner .bottom_header .main-nav ul.sm-parent-3 li {
        border-bottom: none;
    }

    .header_section_inner .bottom_header .main-nav .mobile-pdf {
        float: right;
        margin: 0;
        width: 24px;
        height: 24px;
        background: linear-gradient(50deg, var(--siteColor1), var(--siteColor1), var(--siteText3), var(--siteColor1), var(--siteColor1));
        background-size: 400% 400%;
        border: 1px solid transparent;
        border-radius: 0;
        padding: 1px 4px;
        box-shadow: 2px 2px 0px 0px var(--siteText3);
        margin: 22px 0;
    }
    .header_section_inner .bottom_header .main-nav .mobile-pdf i {
        color: var(--siteText2);
    }

    .sm-clean a .sub-arrow {
        margin-top: -12px !important;
        right: 12px !important;
        width: 24px !important;
        height: 24px !important;
        font: bold 14px/20px monospace !important;
        background: var(--siteText3) !important;
        border-radius: 3px !important;
    }

    .sm-clean a .sub-arrow::before {
        color: var(--siteBg);
        position: relative;
        top: -6px;
    }

    .header_section_inner .bottom_header .main-nav .navbar_btn {
      display: none !important;
    }    

    /* ===================================== 
    Header Section End
    ===================================== */




    /* ===================================== 
    Hero Slider Section Start
    ===================================== */
    .heroSlider_section .heroSlider_section_inner .owl_carousel_desktop {
        display: none;
    }
      
    .heroSlider_section .heroSlider_section_inner .owl_carousel_mobile {
        display: block;
      }
    /* Slider */
    .heroSlider_section .heroSlider_section_inner .home_slider .item .cover {
        padding: 20px 0;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content h2 {
        font-size: 14px;
        margin-bottom: 0;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content h1 {
        font-size: 26px;
        margin: 5px 0 0;
        word-spacing: 1px;
        line-height: 20px;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content h4 {
        font-size: 11px;
        line-height: 15px;
        margin: 0 auto 8px;
        width: 75%;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content .sliders-button {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content .sliders-button a.btn-download,
    .heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content .sliders-button a.btn-quote {
        font-size: 8px;
        width: 85px;
        height: 22px;
        line-height: 10px;
        box-shadow: 2px 2px 0px 0px var(--siteText3);
        margin-right: 6px;
        padding: 5px 5px;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .owl-item.active h1 {
        animation-name: fadeInUp;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-prev {
        left: 5px;
        top: 40%;
        width: 25px;
        height: 25px;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-next {
        right: 5px;
        top: 40%;
        width: 25px;
        height: 25px;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider:hover .owl-prev {
        left: 0px;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider:hover .owl-next {
        right: 0px;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-prev span i,
    .heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-next span i {
        font-size: 10px;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .owl-dots {
        top: 85%;
    }

    .heroSlider_section .heroSlider_section_inner .home_slider .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
        margin: 5px 3px;
    }

    /* Quote */
    .quote_section_inner {
        position: relative;
        bottom: 10px;
    }

    .quote_section_inner .container {
        padding: 0 !important;
    }

    .quote_section_inner .card .quote_sec {
        display: block;
        padding: 30px 12px;
    }

    .quote_section_inner .card .quote_sec h1 {
        font-size: 25px;
        margin-bottom: 8px;
        text-align: center;
    }

    .quote_section_inner .card .quote_sec p {
        margin-bottom: 12px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
    }

    .quote_section_inner .card .quote_sec form input,
    .quote_section_inner .card .quote_sec form select {
        font-size: 12px;
        padding: 5px;
        border-bottom: 1px solid var(--siteText2);
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--multiple {
        border-bottom: 1px solid var(--siteBg) !important;
        padding: 5px !important;
        line-height: 20px;
    }    

    .select2-container--default .select2-search--inline .select2-search__field::placeholder {
        font-size: 12px !important;
    }

    .select2-container .select2-search--inline .select2-search__field {
        margin-top: 0 !important;
    }

    .quote_section_inner .card .quote_sec form .btn-quote {
        padding: 8px 20px;
        border: 1px solid var(--siteBg);
        margin: 0 auto;
    }

    .quote_section_inner .card .quote_sec form .btn-quote:hover {
        border: 1px solid transparent;
    }

    .quote_section_inner .card .quote_sec form .btn-quote svg {
        width: 16px;
        height: 16px;
    }

    .quote_section_inner .card .quote_sec form .btn-quote span {
        font-size: 12px;
    }

    .quote_section_inner .card .service_sec {
        padding: 30px 12px;
    }

    .quote_section_inner .card .service_sec .service_sec_inner {
        padding: 15px 10px;
        clip-path: polygon(0 0, 70% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
    }

    .quote_section_inner .card .service_sec .service_sec_inner .icon {
        width: 30px;
        height: 30px;
        margin-bottom: 15px;
    }

    .quote_section_inner .card .service_sec .service_sec_inner h4 {
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 16px;
    }

    .quote_section_inner .card .service_sec .service_sec_inner h4 span {
        font-size: 14px;
    }

    .quote_section_inner .card .service_sec .service_sec_inner p {
        font-size: 12px;
    }

    /* ===================================== 
    Hero Slider Section Start
    ===================================== */




    /* ===================================== 
    About Us Section Start
    ===================================== */

    .about_section {
        padding: 30px 0 0;
        margin-top: 0;
    }

    .about_section .about_section_inner .col-mob-6 {
        width: 50% !important;
    }

    .about_section .about_section_inner .about_sec_image {
        width: 100%;
    }

    .about_section .about_section_inner .about_sec_title {
        text-align: center;
    }

    .about_section .about_section_inner .about_sec_title h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 6px;
    }

    .about_section .about_section_inner .about_sec_title h1 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .about_section .about_section_inner .about_sec_title h4 span {
        font-size: 25px;
    }

    .about_section .about_section_inner .about_sec_title p {
        font-size: 12px;
        line-height: 20px;
    }    

    .about_section .about_section_inner .col-lg-4:nth-child(1) {
        padding-left: 0 !important;
    }

    .about_section .about_section_inner .col-lg-4:nth-child(3) {
      padding-right: 0 !important;
    }

    .about_section .about_section_inner .about_sec_content .card {
        border-bottom-width: 3px;
    }

    .about_section .about_section_inner .about_sec_content .card .card-body {
        padding: 20px 12px;
        text-align: center;
    }

    .about_section .about_section_inner .about_sec_content .card .card-body .icon {
        width: 35px;
        height: 35px;
        padding: 0;
        margin: 0 auto;
    }

    .about_section .about_section_inner .about_sec_content .card .card-body h4 {
        font-size: 14px;
        margin: 10px 0;
    }

    .about_section .about_section_inner .about_sec_content .card .card-body p {
        font-size: 12px;
        line-height: 18px;
    }

    .about_section .about_section_inner .about_sec_detail .btn-details {
        font-size: 8px;
        height: 30px;
        line-height: 8px;
    }

    .about_section .about_section_inner .about_sec_count {
        padding: 0 20px;
    }

    .about_section .about_section_inner .about_sec_count .count_inner {
        text-align: center;
    }

    .about_section .about_section_inner .about_sec_count .count_inner h2 {
        justify-content: center;
        gap: 1px;
    }

    .about_section .about_section_inner .about_sec_count .count_inner h2 span.purecounter {
        font-size: 30px !important;
        line-height: 30px !important;
    }

    .about_section .about_section_inner .about_sec_count .count_inner h2 span {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .about_section .about_section_inner .about_sec_count .count_inner h5 {
        font-size: 14px;
    }

    /* ===================================== 
    About Us Section Start
    ===================================== */




    /* ===================================== 
    Product Section Start
    ===================================== */
    .product_section {
        padding: 50px 0 0;
    }
    .product_section .product_section_inner {
        background: none;
    }
    .product_section .product_section_inner .product_sec_title {
        display: block;
    }
    .product_section .product_section_inner .product_sec_title .product_header {
        width: auto;
        background: none;
        padding: 0;
        position: unset;
        text-align: center;
    }
    .product_section .product_section_inner .product_sec_title .product_header::before {
        display: none;
    }
    .product_section .product_section_inner .product_sec_title .product_header h4 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 6px;
    }
    .product_section .product_section_inner .product_sec_title h4 span {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 900;
    }
    .product_section .product_section_inner .product_sec_title p {
        color: var(--siteText3);
        font-size: 12px;
        line-height: 20px;
        padding: 0 0 15px;
        text-align: center;
    }
    .product_section .product_section_inner .product_category_sec {
        /* display: block; */
        padding: 0;
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner .card {
        background: linear-gradient(180deg, var(--siteColor1) 0%, var(--siteText3) 100%);
        border-radius: 0;
        border-bottom: 3px solid transparent;
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner:hover .card {
        border-radius: 0;
        border-bottom: 3px solid var(--siteColor1);
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body {
        padding: 10px 15px 20px;
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body .icon {
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 5px 0 5px 0;
        margin: 0 auto 15px;
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body h4 {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        text-align: center;
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body h4 br {
        display: none;
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body p {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body a.explore-btn {
        justify-content: center;
        font-size: 12px;
    }
    .product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body a.explore-btn svg {
        width: 14px;
        height: 14px;
    }
    /* ===================================== 
    Product Section End
    ===================================== */




    /* ===================================== 
    Why Us Section Start
    ===================================== */
    .whyus_section {
        padding: 50px 0;
    }
    .whyus_section .whyus_section_inner .whyus_sec_left .card {
        clip-path: polygon(0 0, 75% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
    }
    .whyus_section .whyus_section_inner .whyus_sec_left .card .card-body {
        padding: 30px;
    }
    .whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner h2 span {
        font-size: 20px;
    }
    .whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner ul {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner p {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body {
        padding: 25px 20px;
    }
    .whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body .icon {
        width: 40%;
        margin: 0 auto 15px;
    }
    .whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body .content h4 {
        font-size: 14px;
    }
    /* ===================================== 
    Why Us Section Start
    ===================================== */




    /* ===================================== 
    Testimonials Section Start
    ===================================== */
    .testimonials_section {
        padding: 0 0 50px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content {
        position: unset;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .container {
        padding: 0;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .container-fluid .row .col-lg-6 {
        padding-right: 0;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial {
        padding: 40px 20px !important;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content {
        width: 75%;
        margin: 0 auto 0 70px !important;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_header {
        left: -23%;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_header h2 {
        font-size: 32px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_quote {
        font-size: 7em;
        bottom: 0;
        right: -10px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content p {
        font-size: 14px;
        line-height: 24px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_caption {
        margin-top: 10px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_caption h5 {
        margin-bottom: 0;
        font-size: 16px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_caption label {
        font-size: 12px;
        line-height: 15px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .owl-nav {
        top: -1px;
        bottom: unset;
        right: unset;
        left: 0;
        padding: 3px 30px 3px 10px;
        clip-path: polygon(0 0, 100% 0, 85% 50%, 70% 100%, 0 100%, 0 50%);
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .owl-nav button span {
        font-size: 25px;
    }
    /* ===================================== 
    Testimonials Section Start
    ===================================== */




    /* ===================================== 
    Clients Section Start
    ===================================== */
    .clients_section .clients_section_inner .clients_slider .owl-stage-outer {
        width: 72%;
        padding: 30px 0;
    }
    .clients_section .clients_section_inner .clients_slider .owl-stage-outer .owl-stage {
        display: flex;
        align-items: center;
    }
    .clients_section .clients_section_inner .clients_slider .owl-stage-outer .owl-item.active {
        width: fit-content !important;
    }
    .clients_section .clients_section_inner .clients_slider .owl-nav {
        top: 28px;
    }
    .clients_section .clients_section_inner .clients_slider .owl-nav button span {
        font-size: 30px;
    }
    /* ===================================== 
    Clients Section End
    ===================================== */




    /* ===================================== 
    Footer Section Start
    ===================================== */
    .footer_section .footer_section_inner .footer_top {
        padding: 40px 0;
    }
    .footer_section .footer_section_inner .footer_top .footer-col .logo {
        width: 80%;
        margin-bottom: 20px;
    }
    .footer_section .footer_section_inner .footer_top .footer-col {
        text-align: center;
    }
    .footer_section .footer_section_inner .footer_top .footer-col h3 {
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .footer_section .footer_section_inner .footer_top .footer-col h3::after {
        left: 30%;
        max-width: 150px;
        height: 2px;
    }
    .footer_section .footer_section_inner .footer_top .footer-col .content {
        width: 80%;
        margin: 0 auto;
    }
    .footer_section .footer_section_inner .footer_top .footer-col .content p {
        font-size: 12px;
        line-height: 22px;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul.productlinks,
    .footer_section .footer_section_inner .footer_top .footer-col ul.uselinks {
        column-count: 1;
        text-align: center;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul.contactlinks {
        width: 80%;
        margin: 0 auto;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul.sociallinks {
        justify-content: center;
    }
    .footer_section .footer_section_inner .footer_top .footer-col .newsletter {
        margin: 0 auto;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul li {
        padding: 5px 0;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul.productlinks li,
    .footer_section .footer_section_inner .footer_top .footer-col ul.uselinks li {
        margin: 0;
        width: auto;
        padding: 0 10px;
        position: relative;
        display: inline-flex;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul.productlinks li::after,
    .footer_section .footer_section_inner .footer_top .footer-col ul.uselinks li::after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 3px;
        background: var(--siteBorder);
        position: absolute;
        right: -4px;
        top: 7px;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul.productlinks li:last-child::after,
    .footer_section .footer_section_inner .footer_top .footer-col ul.uselinks li:last-child:after {
        display: none;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul li a {
        font-size: 12px;
        display: block;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul.productlinks li a i,
    .footer_section .footer_section_inner .footer_top .footer-col ul.uselinks li a i {
        display: none;
    }
    .footer_section .footer_section_inner .footer_top .footer-col ul.contactlinks li a i {
        margin-right: 5px;
    }
    .footer_section .footer_section_inner .copyright_sec p {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 600;
        color: var(--siteText2);
        text-align: center;
    }
    .footer_section .footer_section_inner .copyright_sec {
        padding: 12px 0;
    }
    /* ===================================== 
    Footer Section Start
    ===================================== */
}


@media (min-width: 768px) {
    #main-menu {
      float: right;
      clear: none;
    }

    #main_menu_button{
        float: left;
        clear: none;
    }

    .navbar-expand-lg .navbar-collapse {
        align-items: center;
        justify-content: space-between;
    }
}
  
/* apply the animations just in desktop view */  
@media (min-width:768px) {
    /* prevent text rendering degrade during animation in Mac browsers */
    #main-menu,
    #main_menu_button {
      -webkit-font-smoothing: subpixel-antialiased;
    }
    /* show animation */
    #main-menu ul.show-animation {
      -webkit-animation: show-animation 0.2s;
      animation: show-animation 0.2s;
    }
    @-webkit-keyframes show-animation {
      0% {
        -webkit-transform: scale3d(0, 0, 1);
        opacity: 0;
      }
      60% {
        -webkit-transform: scale3d(1.05, 1.05, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
      }
    }
    @keyframes show-animation {
      0% {
        transform: scale3d(0, 0, 1);
        opacity: 0;
      }
      60% {
        transform: scale3d(1.05, 1.05, 1);
      }
      100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
      }
    }
    /* hide animation */
    #main-menu ul.hide-animation {
      -webkit-animation: hide-animation 0.2s;
      animation: hide-animation 0.2s;
    }
    @-webkit-keyframes hide-animation {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale3d(0, 0, 1);
        opacity: 0;
      }
    }
    @keyframes hide-animation {
      0% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
      }
      100% {
        transform: scale3d(0, 0, 1);
        opacity: 0;
      }
    }
}





  

@media (min-height: 600px) and (max-height: 768px) and (min-width: 1366px) and (max-width: 1366px) {
    .about_section .about_section_inner .about_sec_content .card .card-body {
        padding: 40px;
    }
    .header_section_inner .bottom_header::before {
        width: 21.5% !important;
    }
    .whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body {
        padding: 48px 20px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content {
        width: 70%;
        margin-left: 100px;
    }
    .testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_header h2 {
        font-size: 70px;
    }
}



