/* ===================================== 
Notice Section Start
===================================== */

.notice-bar {
  background: linear-gradient(90deg, var(--siteColor2) 0%, var(--siteText3) 100%);
  background-size: 200% 400%;
}

.notice-bar .ticker_wrap {
  display: flex;
}

/* .notice-bar .ticker__breaking{
 white-space: nowrap;
 background: red;
	 color: #fff;
	 overflow: hidden;
	 padding: 10px 6px;
  display: inline-block; 
  font-weight: bold;
} */
.notice-bar .ticker__viewport {
  color: #fff;
  overflow: hidden;
  padding: 10px 0;
  display: inline-block;
  flex-grow: 1
}

.notice-bar .ticker__viewport a {
  cursor: context-menu;
  color: #fff;
  text-decoration: none;
}

.notice-bar .ticker__viewport a:hover {
  color: yellow;
  font-weight: bold;
}

.notice-bar .ticker__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.notice-bar .ticker__item {
  display: inline-block;
  white-space: nowrap;
  padding-right: 40px;
}

.notice-bar .ticker__item:before {
  content: "";
  font-weight: bold;
}

/* ===================================== 
Notice Section End
===================================== */



/* ===================================== 
Header Section Start
===================================== */

.header_section {
  position: relative;
  z-index: 99999;
}

/* Top Header */
.header_section_inner .top_header {
  background-color: var(--siteBg);
  border-bottom: 1px solid var(--lightGray);
}

.header_section_inner .top_header .top_header_left ul {
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header_section_inner .top_header .top_header_left ul li {
  font-size: 13px;
  padding: 0 15px;
  line-height: 40px;
  border-left: 1px solid var(--siteBorder);
}

.header_section_inner .top_header .top_header_left ul li:last-child {
  border-right: 1px solid var(--siteBorder);
}

.header_section_inner .top_header .top_header_left ul li a {
  color: var(--siteText4);
  text-decoration: none;
}

.header_section_inner .top_header .top_header_left ul li a svg {
  width: 14px;
  height: 14px;
  transition: all 0.5s ease-in-out 0s;
}

.header_section_inner .top_header .top_header_left ul li:hover a svg {
  transform: rotateY(360deg);
}

.header_section_inner .top_header .top_header_right ul {
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header_section_inner .top_header .top_header_right ul li {
  font-size: 16px;
  padding: 0 15px;
  line-height: 38px;
  border-right: 1px solid var(--siteBorder);
}

.header_section_inner .top_header .top_header_right ul li:first-child {
  border-left: 1px solid var(--siteBorder);
  padding: 0;
}

.header_section_inner .top_header .top_header_right ul li:first-child select {
  height: 39px;
  border: none;
}

.header_section_inner .top_header .top_header_right ul li:first-child select:focus {
  box-shadow: none;
}

.header_section_inner .top_header .top_header_right ul li:first-child select option.bangla {}

.header_section_inner .top_header .top_header_right ul li a {
  color: var(--siteText4);
  text-decoration: none;
  font-size: 12px;
}

.header_section_inner .top_header .top_header_right ul li a svg {
  width: 14px;
  height: 14px;
  margin: 0 0.5em 0 0;
  transition: all 0.5s ease-in-out 0s;
}

.header_section_inner .top_header .top_header_right ul li:hover a svg {
  transform: rotateY(360deg);
}

.header_section_inner .top_header .top_header_right ul li .language_selector button {
  border: none;
  background: #ffffff;
  padding: 0 15px;
  font-size: 12px;
}

.header_section_inner .top_header .top_header_right ul li .language_selector .dropdown-menu a {
  line-height: 20px;
  font-size: 12px;
}

.header_section_inner .top_header .top_header_right ul li .language_selector .dropdown-menu a:hover {
  background: linear-gradient(to right top, var(--siteColor1), #0067a1, #00517e, #003c5d, var(--siteText3));
  color: var(--siteText2);
}

/* Middle Header */
.header_section_inner .middle_header {
  background-color: var(--siteBg);
  border-bottom: 1px solid var(--lightGray);
}

.header_section_inner .middle_header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}

.header_section_inner .middle_header .middle_header_inner .middle_header_middle {}

.header_section_inner .middle_header .middle_header_inner .middle_header_middle a {
  width: 70%;
}

.header_section_inner .middle_header .middle_header_inner .middle_header_middle a img {
  width: 100%;
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul {
  display: flex !important;
  justify-content: start;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right .contact_option {
  display: block;
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul li {}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--siteText4);
  text-decoration: none;
  transition: all 0.5s ease-in-out 0s;
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul li a svg {
  width: 30px;
  height: 30px;
  stroke-width: 1.5px;
  color: var(--siteText3);
  transition: all 0.5s ease;
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul li a:hover svg {
  transform: rotateY(360deg);
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul.contact_option {
  display: block;
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul li a .contact_detail {}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul li a .contact_detail p {
  line-height: 24px;
  margin-bottom: 0;
  font-size: 12px;
  color: var(--siteText4);
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul li a .contact_detail h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--siteText4);
}

.header_section_inner .middle_header .middle_header_inner .middle_header_right ul li a:hover .contact_detail h4 {
  background: linear-gradient(to right top, var(--siteColor1), #0067a1, #00517e, #003c5d, var(--siteText3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Bottom Header */
.main-nav {
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .main-nav {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
  }
}

.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

#main-menu,
#main_menu_button {
  clear: both;
}

.header_section_inner .bottom_header {
  position: relative;
  background: var(--siteColor1);
  background: linear-gradient(270deg, var(--siteColor1) 50%, var(--siteText3) 100%);
}

.header_section_inner .bottom_header::before {
  background: var(--siteColor3);
  background: linear-gradient(90deg, var(--siteColor3) 50%, var(--siteText3) 100%);
  content: "";
  width: 25%;
  height: 100%;
  right: 0;
  position: absolute;
  border-left: 3px solid #fff;
}

.header_section_inner .bottom_header .main-nav {
  position: relative;
  background: transparent;
  border-radius: 0;
  border: none;
}

.header_section_inner .bottom_header .main-nav a.nav-brand {
  width: 20%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header_section_inner .bottom_header .main-nav a.nav-brand img {
  width: 100%;
}

.header_section_inner .bottom_header .main-nav ul.sm-parent {
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 15px 0px;
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-1 li {}

.header_section_inner .bottom_header .main-nav ul.sm-parent-1 li.menu-btn {
  background: linear-gradient(50deg, var(--siteColor1), var(--siteColor1), var(--siteText3), var(--siteColor1), var(--siteColor1));
  background-size: 400% 400%;
  border: 1px solid transparent;
  border-radius: 0;
  font-weight: 600;
  box-shadow: 3px 3px 0px 0px var(--siteText3);
  transition: all 0.3s ease;
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-1 li.menu-btn:hover {
  background: transparent;
  border: 1px solid var(--siteColor1);
  box-shadow: 0px 0px 0px 0px var(--siteText3);
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-1 li a {
  font-size: 14px;
  color: var(--siteText2);
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-1 li.menu-btn a {
  color: var(--siteText2);
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-1 li a span {
  border-color: var(--siteText2) transparent transparent transparent;
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2,
.header_section_inner .bottom_header .main-nav ul.sm-parent-3 {
  background: var(--siteBg);
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2 {
  width: 15em !important;
  border-radius: 0 !important;
  border-top: 1px solid var(--siteBorder) !important;
  border-bottom: 5px solid var(--siteColor1) !important;
  border-image: linear-gradient(50deg, var(--siteColor1), var(--siteColor1), var(--siteText3), var(--siteColor1), var(--siteColor1));
  border-image-slice: 1;
  /* width: auto !important; */
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2::before,
.header_section_inner .bottom_header .main-nav ul.sm-parent-2::after {
  border-color: transparent transparent var(--siteBg) transparent !important;
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li,
.header_section_inner .bottom_header .main-nav ul.sm-parent-3 li {
  border-bottom: 1px solid var(--siteBorder);
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li:last-child,
.header_section_inner .bottom_header .main-nav ul.sm-parent-3 li:last-child {
  border-bottom: none;
}


.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a,
.header_section_inner .bottom_header .main-nav ul.sm-parent-3 li a {
  color: var(--siteColor1);
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a {
  padding: 10px 15px;
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:hover,
.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:active,
.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:focus {
  background: var(--textBG1);
  background-size: 400% 400%;
  color: var(--siteText2);
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a span {
  border-color: var(--siteColor1) transparent transparent transparent;
  right: 15px !important;
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:hover span,
.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:active span,
.header_section_inner .bottom_header .main-nav ul.sm-parent-2 li a:focus span {
  border-color: var(--siteText2) transparent transparent transparent;
}

.header_section_inner .bottom_header .main-nav ul.sm-parent-3 {
  border-radius: 0 !important;
  border-top: 1px solid var(--siteColor1) !important;
  border-bottom: 5px solid var(--siteColor1) !important;
}

.sm-clean .scroll-up,
.sm-clean .scroll-down {
  box-shadow: 0px 3px 50px #111;
}

.sm-clean .scroll-up:hover,
.sm-clean .scroll-down:hover {
  background: #daf2ff !important;
}

.sm-clean .scroll-up:hover .scroll-up-arrow {
  border-color: transparent transparent var(--siteColor1) transparent !important;
}

.sm-clean .scroll-down:hover .scroll-down-arrow {
  border-color: var(--siteColor1) transparent transparent transparent !important;
}

.header_section_inner .bottom_header .main-nav .navbar_btn {
  display: block;
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner .btn-pdf {
  background: rgb(196, 18, 26);
  background: linear-gradient(90deg, var(--siteColor2) 0%, var(--siteText3) 100%);
  background-size: 200% 400%;
  color: var(--siteText2) !important;
  padding: 12px 12px;
  text-transform: capitalize;
  border-radius: 0;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.5s ease;
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner .btn-pdf:hover {
  background-size: 400% 400%;
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner .btn-pdf svg {
  width: 18px;
  height: 18px;
  stroke-width: 2.5px;
  transition: all 0.5s ease-in-out 0s;
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner .btn-pdf:hover svg {
  transform: rotateY(360deg);
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner button.search-toggler {
  border: none;
  background: transparent;
  padding: 0;
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner button.search-toggler svg {
  width: 25px;
  height: 25px;
  stroke-width: 2.5;
  color: var(--siteText2);
  transition: all 0.5s ease;
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner a.location-pin svg {
  color: var(--siteText2);
  transition: all 0.5s ease;
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner button.search-toggler:hover svg {
  transform: rotateY(360deg);
}

.header_section_inner .bottom_header .main-nav .navbar_btn .navbar_btn_inner a.location-pin:hover svg {
  transform: rotateY(360deg);
}

/* ===================================== 
Header Section End
===================================== */




/* ===================================== 
Search Section Start
===================================== */

#search_input_box_section {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.search_input_box_section {
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 1140px;
  z-index: 999;
  text-align: center;
  background: linear-gradient(90deg, var(--siteText3) 0%, var(--siteText4) 100%);
  z-index: 9999;
}

.search_input_box_section #searchNav {}

.search_input_box_section #searchNav form {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}

.search_input_box_section #searchNav form input {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  height: 50px;
  padding: 0;
}

.search_input_box_section #searchNav form input:focus {
  box-shadow: none;
}

.search_input_box_section #searchNav form input::placeholder {
  color: var(--siteText1);
}

/* ===================================== 
Search Section End
===================================== */




/* ===================================== 
Hero Slider Section Start
===================================== */

.heroSlider_section {
  width: 100%;
  /* position: absolute; */
  position: relative;
  /* top: 90px; */
  top: 0;
  z-index: 1;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-stage-outer {
  z-index: 1;
}

.heroSlider_section .heroSlider_section_inner .owl_carousel_desktop {
  display: block;
}

.heroSlider_section .heroSlider_section_inner .owl_carousel_mobile {
  display: none;
}

/* Slider */
.heroSlider_section .heroSlider_section_inner .home_slider .item {
  position: relative;
  background: url(../img/dots.png);
  background-size: cover !important;
  overflow: hidden;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.6); */
  display: flex;
  align-items: center;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content {
  width: 70%;
  padding: 56px;
  overflow: hidden;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content h1 {
  font-size: 65px;
  margin: 5px 0;
  word-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Colonna MT', sans-serif;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content .sliders-button {
  margin-top: 20px;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content .sliders-button .btn-download {
  border: 2px solid transparent;
  background: var(--siteColor1);
  background: linear-gradient(40deg, var(--siteColor1), var(--siteColor1), var(--siteText3), var(--siteColor1), var(--siteColor1));
  background-size: 400% 400%;
  color: var(--siteText2);
  font-size: 14px;
  width: 170px;
  height: 40px;
  font-weight: 600;
  border-radius: 0;
  box-shadow: 4px 4px 0px 0px var(--siteText3);
  margin-right: 10px;
  transition: all 0.3s ease;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content .sliders-button .btn-quote {
  border: 2px solid transparent;
  background: var(--siteColor3);
  background: linear-gradient(40deg, var(--siteColor3), var(--siteColor3), var(--siteText3), var(--siteColor3), var(--siteColor3));
  background-size: 400% 400%;
  color: var(--siteText2);
  font-size: 14px;
  width: 170px;
  height: 40px;
  font-weight: 700;
  border-radius: 0;
  box-shadow: 4px 4px 0px 0px var(--siteText3);
  transition: all 0.3s ease;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content .sliders-button .btn-download:hover {
  background: var(--siteBg);
  color: var(--siteColor1);
  border: 2px solid var(--siteColor1);
  box-shadow: none;
}

.heroSlider_section .heroSlider_section_inner .home_slider .item .cover .header-content .sliders-button .btn-quote:hover {
  background: var(--siteBg);
  color: var(--siteColor3);
  border: 2px solid var(--siteColor3);
  box-shadow: none;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-item.active .sliders-button .btn-download {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-item.active .sliders-button .btn-quote {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInRight;
  animation-delay: 0.3s;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: block;
  z-index: 1000;
  border-radius: 30px !important;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-prev span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-prev span i {
  font-size: 18px;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 50px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 30px !important;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-next span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-nav .owl-next span i {
  font-size: 18px;
}


.heroSlider_section .heroSlider_section_inner .home_slider:hover .owl-prev {
  left: 0px;
  opacity: 1;
}

.heroSlider_section .heroSlider_section_inner .home_slider:hover .owl-next {
  right: 0px;
  opacity: 1;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-dots {
  position: absolute;
  top: 90%;
  width: 100%;
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  clip-path: polygon(50% 0, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background: var(--siteBg);
}

.heroSlider_section .heroSlider_section_inner .home_slider .owl-dots .owl-dot.active span {
  background: linear-gradient(40deg, var(--siteColor2), var(--siteColor2), var(--siteText3), var(--siteColor2), var(--siteColor2));
  background-size: 400% 120%;
}

/* Quote */
.quote_section_inner {
  position: relative;
  width: 100%;
  bottom: 100px;
  z-index: 1;
}

/* .quote_section_inner .container {
  max-width: 1000px;
} */

.quote_section_inner .card {
  border: none;
  border-radius: 0;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.quote_section_inner .card .quote_sec {
  background: var(--textBG1);
  padding: 40px;
  height: 100%;
}

.quote_section_inner .card .quote_sec h1 {
  color: var(--siteText2);
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 24px;
}

.quote_section_inner .card .quote_sec p {
  margin-bottom: 20px;
  color: var(--siteText2);
  line-height: 24px;
  font-size: 14px;
}

.quote_section_inner .card .quote_sec form input,
.quote_section_inner .card .quote_sec form select {
  background-color: transparent !important;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid var(--siteText2);
  color: var(--siteText2);
  font-size: 14px;
}

.select2-container--default .select2-selection--single {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid var(--siteBg) !important;
  height: 34px !important;
}

.select2-container--default .select2-selection--multiple {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid var(--siteBg) !important;
  padding: 0 .75rem .375rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--siteText2) !important;
  font-size: 14px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #c2e9ff !important;
  border: 1px solid var(--siteColor1) !important;
  border-radius: 0 !important;
  color: var(--siteColor1) !important;
  font-size: 12px !important;
  margin-left: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border-right: 1px solid var(--siteColor1) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  color: var(--siteColor1) !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: var(--siteBg) transparent transparent transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent var(--siteBg) transparent !important;
}

.select2-results__option {
  color: var(--siteColor1) !important;
  font-size: 14px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: linear-gradient(90deg, var(--siteColor1) 0%, var(--siteText3) 100%) !important;
  color: var(--siteText2) !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  margin-left: 0 !important;
}

.select2-container--default .select2-search--inline .select2-search__field::placeholder {
  color: var(--siteText2) !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

.quote_section_inner .card .quote_sec form select option {
  color: var(--siteColor1);
}

.quote_section_inner .card .quote_sec form input::placeholder,
.quote_section_inner .card .quote_sec form select::placeholder {
  color: var(--siteText2) !important;
}

.quote_section_inner .card .quote_sec form input:focus,
.quote_section_inner .card .quote_sec form select:focus {
  outline: 0;
  box-shadow: none;
  border-bottom: 2px solid var(--siteColor1);
}

.quote_section_inner .card .quote_sec form .btn-quote {
  background: transparent;
  color: var(--siteText2) !important;
  padding: 12px 24px;
  border-radius: 0;
  border: 2px solid var(--siteBg);
  display: flex;
  align-items: flex-start;
  gap: 5px;
  transition: all 0.5s ease;
}

.quote_section_inner .card .quote_sec form .btn-quote:hover {
  background: rgb(196, 18, 26);
  background: linear-gradient(90deg, var(--siteColor2) 0%, var(--siteText3) 100%);
  background-size: 200% 400%;
  border: 2px solid transparent;
  gap: 10px;
}

.quote_section_inner .card .quote_sec form .btn-quote svg {
  width: 20px;
  height: 20px;
  stroke-width: 2px;
}

.quote_section_inner .card .quote_sec form .btn-quote span {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
}

.quote_section_inner .card .service_sec {
  padding: 40px;
}

.quote_section_inner .card .service_sec .service_sec_inner {
  padding: 20px;
  position: relative;
  border-radius: 0.25rem;
  border-radius: 0;
  clip-path: polygon(0 0, 80% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
}

.quote_section_inner .card .service_sec .service_sec_inner.installation {
  background: #dcf2ff;
}

.quote_section_inner .card .service_sec .service_sec_inner.testing {
  background: #ffdcdd;
}

.quote_section_inner .card .service_sec .service_sec_inner.salesService {
  background: #dcffed;
}

.quote_section_inner .card .service_sec .service_sec_inner.troubleshoot {
  background: #fff6de;
}

.quote_section_inner .card .service_sec .service_sec_inner .icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.quote_section_inner .card .service_sec .service_sec_inner .icon img {
  width: 100%;
}

.quote_section_inner .card .service_sec .service_sec_inner h4 {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 18px;
  color: var(--siteText3);
}

.quote_section_inner .card .service_sec .service_sec_inner h4 span {
  font-size: 18px;
  font-weight: 700;
  color: var(--siteText3);
  text-transform: uppercase;
}

.quote_section_inner .card .service_sec .service_sec_inner p {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--siteText5);
}

/* ===================================== 
Hero Slider Section End
===================================== */




/* ===================================== 
About Us Section Start
===================================== */
.about_section {
  padding: 0 0 50px 0;
}

.about_section .about_section_inner {}

.about_section .about_section_inner .about_sec_image {
  width: 90%;
}

.about_section .about_section_inner .about_sec_image img {
  width: 100%;
  filter: drop-shadow(0px 5px 10px #00000026);
}

.about_section .about_section_inner .about_sec_title {}

.about_section .about_section_inner .about_sec_title h4 {
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--siteColor3);
  background: linear-gradient(180deg, var(--siteColor3) 0%, var(--siteText3) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about_section .about_section_inner .about_sec_title h1 {
  font-size: 40px;
  font-style: normal;
  line-height: 50px;
  font-weight: 600;
  color: var(--siteText3);
  text-transform: capitalize;
  margin-bottom: 15px;
}

.about_section .about_section_inner .about_sec_title p {
  color: var(--siteText5);
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.about_section .about_section_inner .about_sec_count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_section .about_section_inner .about_sec_count .count_inner {}

.about_section .about_section_inner .about_sec_count .count_inner h2 {
  display: flex;
  align-items: baseline;
  gap: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  line-height: 50px;
  color: var(--siteColor1);
  margin: 0 0 10px;
}

.about_section .about_section_inner .about_sec_count .count_inner h2 span {
  font-size: 35px !important;
  line-height: 35px !important;
}

.about_section .about_section_inner .about_sec_count .count_inner h2 span.purecounter {
  font-size: 50px !important;
  line-height: 50px !important;
}

.about_section .about_section_inner .about_sec_count .count_inner h5 {
  display: block;
  color: var(--siteText3);
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.about_section .about_section_inner .col-lg-4:nth-child(1) {
  padding-right: 0 !important;
}

.about_section .about_section_inner .col-lg-4:nth-child(2) {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.about_section .about_section_inner .col-lg-4:nth-child(3) {
  padding-left: 0 !important;
}

.about_section .about_section_inner .about_sec_content {}

.about_section .about_section_inner .about_sec_content .card {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border: none;
  border-radius: 0;
  overflow: hidden;
}

.about_section .about_section_inner .about_sec_content .card .card-body {
  padding: 50px;
  z-index: 1;
}

.about_section .about_section_inner .about_sec_content .card .card-body.mission {
  background: var(--siteColor1);
  background: linear-gradient(90deg, var(--siteColor1) 0%, var(--siteText3) 100%);
  background-size: 200% 400%;
}

.about_section .about_section_inner .about_sec_content .card .card-body.vision {
  background: var(--siteColor2);
  background: linear-gradient(90deg, var(--siteColor2) 0%, var(--siteText3) 100%);
  background-size: 200% 400%;
}

.about_section .about_section_inner .about_sec_content .card .card-body.values {
  background: var(--siteColor3);
  background: linear-gradient(90deg, var(--siteColor3) 0%, var(--siteText3) 100%);
  background-size: 200% 400%;
}

.about_section .about_section_inner .about_sec_content .card .card-body .icon {
  width: 50px;
  height: 50px;
}

.about_section .about_section_inner .about_sec_content .card .card-body .icon img {
  width: 100%;
}

.about_section .about_section_inner .about_sec_content .card .card-body h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--siteText2);
  margin: 15px 0;
}

.about_section .about_section_inner .about_sec_content .card .card-body p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--siteText2);
  margin-bottom: 0;
}

.about_section .about_section_inner .about_sec_detail {
  text-align: center;
}

.about_section .about_section_inner .about_sec_detail .btn-details {
  background: linear-gradient(50deg, var(--siteColor2), var(--siteColor2), var(--siteText3), var(--siteColor2), var(--siteColor2));
  background-size: 400% 400%;
  color: var(--siteText2);
  font-size: 12px;
  border: 2px solid transparent;
  border-radius: 0;
  height: 40px;
  font-weight: 600;
  box-shadow: 3px 3px 0px 0px var(--siteText3);
  transition: all 0.3s ease;
}

.about_section .about_section_inner .about_sec_detail .btn-details:hover {
  background: transparent;
  color: var(--siteColor2);
  border: 2px solid var(--siteColor2);
  box-shadow: 0px 0px 0px 0px var(--siteText3);
}

/* ===================================== 
About Us Section Start
===================================== */




/* ===================================== 
Product Section Start
===================================== */

.product_section {
  padding: 50px 0;
}

.product_section .product_section_inner {
  background: linear-gradient(90deg, var(--siteColor1) 0%, var(--siteText3) 100%);
}

.product_section .product_section_inner .product_sec_title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product_section .product_section_inner .product_sec_title .product_header {
  width: fit-content;
  background: var(--siteBg);
  padding: 0px 50px 10px 10px;
  clip-path: polygon(0 0, 100% 0, 90% 50%, 80% 100%, 0 100%, 0 0);
  border-top: 1px solid var(--siteBg);
}

.product_section .product_section_inner .product_sec_title .product_header h4 {
  font-size: 30px;
  line-height: 35px;
  display: inline-block;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--siteColor3);
  background: linear-gradient(90deg, var(--siteColor1) 0%, var(--siteText3) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.product_section .product_section_inner .product_sec_title h4 span {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 900;
}

.product_section .product_section_inner .product_sec_title p {
  color: var(--siteText2);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 20px 60px 0 10px;
}

.product_section .product_section_inner .product_category_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 40px;
}

.product_section .product_section_inner .product_category_sec .product_category_inner {
  width: 20%;
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card {
  background: transparent;
  border-radius: 0;
  border-bottom: 3px solid transparent;
  box-shadow: none;
  transition: all 0.5s ease;
}

.product_section .product_section_inner .product_category_sec .product_category_inner:hover .card {
  background: var(--siteBg);
  border-radius: 0 75px 0 0;
  border-bottom: 3px solid transparent;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body {
  padding: 20px;
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body .icon {
  width: 80px;
  height: 80px;
  background: var(--siteBg);
  padding: 15px;
  border-radius: 10px 0 10px 0;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
  margin-bottom: 20px;
  transition: all 0.5s ease;
  clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 20% 100%, 0% 80%);
}

.product_section .product_section_inner .product_category_sec .product_category_inner:hover .card .card-body .icon {
  background: transparent;
  box-shadow: none;
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body .icon img {
  width: 100%;
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body h4 {
  color: var(--siteText2);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  transition: all 0.5s ease;
}

.product_section .product_section_inner .product_category_sec .product_category_inner:hover .card .card-body h4 {
  color: var(--siteColor1);
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body p {
  color: var(--siteText2);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  transition: all 0.5s ease;
}

.product_section .product_section_inner .product_category_sec .product_category_inner:hover .card .card-body p {
  color: var(--siteText3);
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body a.explore-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--siteText2);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.product_section .product_section_inner .product_category_sec .product_category_inner:hover .card .card-body a.explore-btn {
  color: var(--siteColor2);
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body a.explore-btn:hover {
  gap: 8px;
}

.product_section .product_section_inner .product_category_sec .product_category_inner .card .card-body a.explore-btn svg {
  width: 16px;
  height: 16px;
}

/* ===================================== 
Product Section End
===================================== */




/* ===================================== 
Why Us Section Start
===================================== */

.whyus_section {
  padding: 50px 0;
}

.whyus_section .whyus_section_inner {}

.whyus_section .whyus_section_inner .whyus_sec_left {}

.whyus_section .whyus_section_inner .whyus_sec_left .card {
  background: linear-gradient(180deg, var(--siteColor2) 0%, var(--siteText3) 150%);
  border-radius: 0 100px 0 0;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
  clip-path: polygon(0 0, 80% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
}

.whyus_section .whyus_section_inner .whyus_sec_left .card .card-body {
  padding: 50px 40px;
}

.whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner {}

.whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner h2 {
  color: var(--siteText2);
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 4px 4px 3px var(--siteText4);
}

.whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner h2 span {
  font-size: 40px;
}

.whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner ul {
  list-style: none;
  padding: 0;
  color: var(--siteText2);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner ul li {}

.whyus_section .whyus_section_inner .whyus_sec_left .card .card-body .whyus_sec_left_inner p {
  color: var(--siteText2);
  font-size: 14px;
  margin-bottom: 10px;
}

.whyus_section .whyus_section_inner .whyus_sec_right {}

.whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner {}

.whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card {
  border-radius: 0;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  transition: all 0.5s ease;
}

.whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card:hover {
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
}

.whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body {
  padding: 45px 40px;
}

.whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body .icon {
  width: 60%;
  margin: 0 auto 20px;
}

.whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body .icon img {
  width: 100%;
}

.whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body .content {
  text-align: center;
}

.whyus_section .whyus_section_inner .whyus_sec_right .whyus_sec_right_inner .card .card-body .content h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--siteText4);
  text-transform: uppercase;
  margin-bottom: 0;
}

/* ===================================== 
Why Us Section Start
===================================== */




/* ===================================== 
Testimonials Section Start
===================================== */

.testimonials_section {
  padding: 50px 0 0;
}

.testimonials_section .testimonials_section_inner {}

.testimonials_section .testimonials_section_inner .testimonials_slider {}

.testimonials_section .testimonials_section_inner .testimonials_slider .item {}

.testimonials_section .testimonials_section_inner .testimonials_slider .item img {
  display: block;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: inherit;
  z-index: 9;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, var(--siteColor3) 0%, var(--siteText3) 100%);
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  width: 60%;
  margin: 0 auto;
  margin-left: 255px;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_header {
  position: absolute;
  color: rgba(255, 255, 255, 0.1) !important;
  bottom: 43%;
  left: -30%;
  transform: rotate(-90deg);
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_header h2 {
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_quote {
  position: absolute;
  font-size: 20em;
  color: rgba(255, 255, 255, 0.1) !important;
  bottom: -30px;
  right: -30px;
  transform: rotate(-90deg);
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_quote svg {}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content p {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  margin-bottom: 0;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_caption {
  position: relative;
  margin-top: 20px;
  display: inline-block;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_caption h5 {
  color: var(--siteText2);
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .item .content .testimonial .testimonial_content .testimonial_caption label {
  margin-bottom: 0;
  font-weight: 600;
  color: var(--siteColor1);
  display: block;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .owl-nav {
  position: absolute;
  bottom: -1px;
  right: 0;
  background: var(--siteBg);
  padding: 5px 20px 5px 50px;
  margin: 0;
  clip-path: polygon(30% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 15% 50%);
}

.testimonials_section .testimonials_section_inner .testimonials_slider .owl-nav button {
  margin: 0;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .owl-nav button:hover {
  background: transparent;
  color: var(--siteColor3);
  text-decoration: none;
}

.testimonials_section .testimonials_section_inner .testimonials_slider .owl-nav button span {
  font-size: 40px;
  color: var(--siteColor3);
}

/* ===================================== 
Testimonials Section Start
===================================== */




/* ===================================== 
Clients Section Start
===================================== */

.clients_section {
  background: var(--siteColor1);
  position: relative;
}

.clients_section::before {
  content: "";
  background: url(../img/dot-pattern.png) center top;
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-size: inherit;
}

.clients_section .clients_section_inner {}

.clients_section .clients_section_inner .clients_slider {}

.clients_section .clients_section_inner .clients_slider .owl-stage-outer {
  margin: 0 auto;
  padding: 40px 0 20px;
}

.clients_section .clients_section_inner .clients_slider .owl-stage-outer .owl-stage {
  display: flex;
}

.clients_section .clients_section_inner .clients_slider .owl-stage-outer .owl-item.active {
  width: 238px !important;
}

.clients_section .clients_section_inner .clients_slider .item {
  width: 50%;
  margin: 0 auto;
}

.clients_section .clients_section_inner .clients_slider .item img {
  width: 100%;
}

.clients_section .clients_section_inner .clients_slider .owl-nav {
  position: relative;
  bottom: -1px;
  background: var(--siteText3);
  padding: 5px 50px;
  margin: 0;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
  z-index: -1;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.clients_section .clients_section_inner .clients_slider .owl-nav button {
  border-radius: 0;
  margin: 0;
  display: inline;
  vertical-align: middle;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: all 0.5s ease;
}

.clients_section .clients_section_inner .clients_slider .owl-nav button.owl-prev {
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clients_section .clients_section_inner .clients_slider .owl-nav button:hover {
  background: var(--siteBg);
  border-radius: 0;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.clients_section .clients_section_inner .clients_slider .owl-nav button.owl-prev:hover {
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clients_section .clients_section_inner .clients_slider .owl-nav button span {
  display: flex;
  font-size: 30px;
  color: var(--siteColor1);
  transition: all 0.5s ease;
}

.clients_section .clients_section_inner .clients_slider .owl-nav button:hover span {
  color: var(--siteColor1);
}

/* ===================================== 
Clients Section End
===================================== */




/* ===================================== 
Footer Section Start
===================================== */
.footer_section {
  background-color: var(--siteText3);
  /* position: relative; */
}

.footer_section::before {
  content: "";
  /* background: url(../img/footer-bg.png) center top var(--siteText3); */
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  background-size: contain;
}

.footer_section .footer_section_inner {
  /* background: url(assets/img/dot-shape.png); */
}

.footer_section .footer_section_inner .footer_top {
  background-color: var(--siteText3);
  padding: 80px 0;
}

.footer_section .footer_section_inner .footer_top .footer-col {}

.footer_section .footer_section_inner .footer_top .footer-col .logo {
  width: 30%;
  margin: 0 auto;
}

.footer_section .footer_section_inner .footer_top .footer-col .logo img {
  width: 100%;
}

.footer_section .footer_section_inner .footer_top .footer-col h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--siteBorder);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
}

.footer_section .footer_section_inner .footer_top .footer-col h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 50px;
  width: 100%;
  height: 4px;
  background: var(--siteColor1);
}

.footer_section .footer_section_inner .footer_top .footer-col .content {
  width: 90%;
}

.footer_section .footer_section_inner .footer_top .footer-col .content p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 26px;
  color: var(--siteText6);
}

.footer_section .footer_section_inner .footer_top .footer-col .newsletter {
  width: 90%;
}

.footer_section .footer_section_inner .footer_top .footer-col .newsletter form input {
  border: 1px solid var(--siteText6);
  background: transparent;
  height: 40px;
  font-size: 14px;
  color: var(--siteText2);
  border-radius: 0;
  padding: 5px 12px;
}

.footer_section .footer_section_inner .footer_top .footer-col .newsletter form input::placeholder {
  color: var(--siteText6);
}

.footer_section .footer_section_inner .footer_top .footer-col .newsletter form input:focus {
  box-shadow: none;
  border: 1px solid var(--siteColor1);
}

.footer_section .footer_section_inner .footer_top .footer-col .newsletter form button {
  background: linear-gradient(90deg, var(--siteColor1) 0%, var(--siteColor1) 100%);
  height: 40px;
  border-radius: 0;
  border: 1px solid var(--siteColor1);
  padding: 5px 12px;
  font-size: 14px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.footer_section .footer_section_inner .footer_top .footer-col .newsletter form button:hover {
  background: linear-gradient(90deg, var(--siteColor1) 0%, var(--siteText3) 100%);
}

.footer_section .footer_section_inner .footer_top .footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_section .footer_section_inner .footer_top .footer-col ul.productlinks,
.footer_section .footer_section_inner .footer_top .footer-col ul.contactlinks {
  column-count: 1;
}

.footer_section .footer_section_inner .footer_top .footer-col ul.uselinks {
  column-count: 2;
}

.footer_section .footer_section_inner .footer_top .footer-col ul.sociallinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_section .footer_section_inner .footer_top .footer-col ul li {
  padding: 6px 0;
}

.footer_section .footer_section_inner .footer_top .footer-col ul li:first-child,
.footer_section .footer_section_inner .footer_top .footer-col ul.uselinks li:nth-child(6) {
  padding-top: 0;
}

.footer_section .footer_section_inner .footer_top .footer-col ul li:last-child,
.footer_section .footer_section_inner .footer_top .footer-col ul.uselinks li:nth-child(5) {
  padding-bottom: 0;
}

.footer_section .footer_section_inner .footer_top .footer-col ul.sociallinks li {
  padding: 5px 6px !important;
  border: 1px solid var(--siteText6);
  width: 30px;
  height: 30px;
  transition: all 0.4s ease;
}

.footer_section .footer_section_inner .footer_top .footer-col ul.sociallinks li:hover {
  background: var(--siteColor1);
  border: 1px solid transparent;
}

.footer_section .footer_section_inner .footer_top .footer-col ul li a {
  font-size: 14px;
  color: var(--siteText6);
  display: flex;
  align-items: baseline;
  gap: 6px;
  transition: all 0.3s ease-in;
}

.footer_section .footer_section_inner .footer_top .footer-col ul li a:hover {
  color: var(--siteText2);
}

.footer_section .footer_section_inner .footer_top .footer-col ul li a i {
  font-size: 18px;
  position: relative;
  top: 3px;
}

.footer_section .footer_section_inner .footer_top .footer-col ul.sociallinks li a i {
  color: var(--siteText2);
  position: unset;
}

.footer_section .footer_section_inner .footer_top .footer-col ul.sociallinks li:hover a i {
  color: var(--siteText2);
}

.footer_section .footer_section_inner .footer_top .footer-col ul li a span {}


.footer_section .footer_section_inner .footer_bottom {
  background: var(--siteText7);
}

.footer_section .footer_section_inner .copyright_sec {
  padding: 15px 0;
}

.footer_section .footer_section_inner .copyright_sec p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--siteText2);
  text-align: center;
}

.footer_section .footer_section_inner .copyright_sec p span {}

.footer_section .footer_section_inner .copyright_sec p a {
  color: var(--siteText2);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer_section .footer_section_inner .copyright_sec p a:hover {
  color: var(--siteColor1);
}

/* ===================================== 
Footer Section End
===================================== */